<!DOCTYPE HTML>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/form-style.css">
		<title>Allen's Blog v1.0</title>
	</head>
	<h2 id="title">Welcome to Allen's Blog!</h2>
	{% if valid_cookie %}
	<form method="post">
		<div class="titles">
			Please enter a title: 
			<input id="title_box" type="text" name="subject" value="{{title}}">
		</div>
	<br>
		<div class="titles">
			Enter your blog's content below:
		</div>
		<div id="textarea_box_div">
			<textarea id="textarea_box" name="content">{{content}}</textarea>
		</div>
		<div class="titles">
			<input id="submit_button" type="submit" value="Submit this post!">
		</div>
		<br>
		<div id="error_message">{{error_message}}</div>
		</form>
		{% endif %}

		{% if not valid_cookie %}
		<div>Please login to continue.
			<a href="/signup">Signup</a>
			<a href="/login">Login</a>
		</div>
		{% endif %}
		<a href="/">Click here to return to the main page</a>
		<br>
		{% for x in data[0:9] %}
		<hr>
			<div class="content">
					<div class="content-user">Submitted by {{x.user}}</div>
					<div class="content-time">{{x.created}}</div>
					<div class="content-title"><u>{{x.title}}</u></div>
				<br>
					<pre class="content-body">{{x.content}}</pre>
			</div>
		<br>
		{% endfor %}
</html>