<!DOCTYPE HTML>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/singlepost-style.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<title>Your Blog Post: #{{id}}</title>
	</head>
	<body>
		<div id="main">
			<div id="content-time">{{time}}</div>
			<div id="content-title">{{subject}}</div>
		<br>
			<p id="content-body">{{content}}</p>
			<hr>
			<br>
			<div id="return_div"><a id="return" href="/">Click here to return to the main page</a></div>
	</body>
</html>