<!DOCTYPE HTML>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/welcome-style.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<title>Welcome!</title>
</head>
<body>
	<div id="main">
		<p id="welcome">Welcome, {{name}}!</p>
		<div id="return_div"><a id="return" href="/">Click here to return to the main page</a></div>
	</div>
</body>
</html>